<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAp">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/logotipo-de-github.png" id="github"></a>
            <a href=""><img src="../../../assets/Linkedin-In-Logo-PNG-HD.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/twitterlogo.png" id="twitter"></a>   
            <button type="button" class="btn btn-warning">Sing in</button>
        </div>
    </div>
</div>

